<!DOCTYPE html>
<html lang="en">
<head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
    <div class="main_wrap">
        {% if session['error'] %}
            <p>{{session['response']}}</p>
        {% else %}
            <p>Name: {{session['name']}}</p>
            <p>Location: {{session['location']}}</p>
            <p>Language: {{session['language']}}</p>
            <p>Comments: {{session['comments']}}</p>
        {% endif %}
    </div>
</body>
</html>