<!DOCTYPE html>
<html lang="en">
<head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <meta charset="UTF-8">
    <title>Friends</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main_wrap">
        <h1>Friends</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="messages">
                    {% for category, message in messages %}
                        <p class="{{category}}">{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h2>Add Friend</h2>
        <form method="POST" class="input_form" action="/friends/add">
            <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
            <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
            <label for="email">Email: <input type="text" name="email" id="email"></label>
            <input type="submit" value="Add">
        </form>
        {% if friends %}
            <div class="friends">
                <h2>Friends: </h2>
                {% for friend in friends %}
                    <div class="friend">
                        <p>First Name: <a href="/friends/{{friend['id']}}">{{ friend['first_name'] }}</a></p>
                        <p>Last Name: <a href="/friends/{{friend['id']}}">{{ friend['last_name'] }}</a></p>
                        <p>Email: <a href="/friends/{{friend['id']}}">{{ friend['email'] }}</a></p>
                        <span class="delete">
                            <form method="POST" onsubmit="return confirm('Are you sure?');" action="/friends/{{ friend['id'] }}/delete">
                                <input type="submit" title="delete" value="X">
                            </form>
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>